html {
  scroll-behavior: smooth;
}

body{
    background-color: azure;
    color: aqua;
    font-size: large;
}
.input-box {
             display: inline-flex;
            align-items: center;
            gap: 15px;
            margin-top: 2%;
            padding: 18px 40px;
            background: linear-gradient(135deg, var(--gold) 0%, #B8860B 100%);
            color: var(--dark);
            border: none;
            font-weight: 600;
            border-radius: 2px;
            transition: var(--transition);
            box-shadow: 0 10px 30px rgba(212, 175, 55, 0.3);
            cursor: pointer;
       
         

}
@keyframes input {
   25% {
    transform: translateY(-1225px);
  }
  50% {
    transform: translateZ(100px) translateY(100px);
  }
  75% {
    transform: translateZ(1225px);
  }
}
    

.input-box:focus {
  border-color: #007bff;
  box-shadow: -4px 15px 25px rgba(240, 241, 243, 0.5);
  width: 500px;
 
}
button{
    display: inline-flex;
            align-items: center;
           
            gap: 15px;
            padding: 18px 40px;
            background: linear-gradient(to right, #ff9966, #ff5e62);
            color: Gold;
            border: yellow;
            font-weight: 600;
            border-radius: 2px;
            transition: var(--transition);
            box-shadow: 0 10px 30px rgba(212, 175, 55, 0.3);
            cursor: pointer;
}
button:hover{
     transform: translateY(-3px);
            box-shadow: 0 15px 40px rgba(212, 175, 55, 0.4);
}
#heading{
    font-size: xxx-large;
    color:  #f9dcdc;
    text-shadow: 1px 1px 4px  gold;
    text-align: center;
}